*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/3.5/fileContent/fileContent.lock
/.idea/
app/build/
gradle/
build/
/app/app.iml
/app/src/generated
