/* 用户注册 */
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}
.sign-box{
  width: 670px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #111111;
  font-size: 14px;
}
.sign-box  h3{
  font-size: 36px;
  color: #0070C9;
  text-align: center;
  margin-bottom: 60px;
  font-weight: normal;
}
.sign-box  li{
  margin-bottom: 20px;
  height: 35px;
  line-height: 35px;
}
.sign-box  input{
  margin-right: 5px;
}
.sign-box  input[type='text']{
  width: 300px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #EBEBED;
  text-indent: 10px;
}
.sign-box  input[type='radio']{
  width: 16px;
  height: 16px;
  border: 1px solid #ebebeb;
}
.sign-box  input.area{
  width: 120px;
}
.error-notice{
  color: #D0021B;
  padding-left: 20px;
  /* background: url('../images/error.png') no-repeat 5px; */
  font-size: 12px;
}
.button-box{
  text-align: center;
  padding-top: 30px;
}
.button{
  width: 210px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  background: #4A90E2;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
}
.button:hover{
  background: #0070C9;
}
.radio-content{
  padding-right: 20px;
}
.label-name{
  width: 100px;
  display: inline-block;
}
.sign-box p{
  color: #F5A623;
  font-size: 12px;
}
@media only screen and (max-width: 750px){
  body,html{
    font-size: 62.5%;
  }
  .sign-box{
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #111111;
    font-size: 14px;
  }
.sign-box  input[type='text']{
  width: 15rem;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #EBEBED;
  text-indent: 10px;
}
.sign-box  input.area{
  width: 4rem;
}
.button{
  width: 95%;
}
