<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.haohai.hhlibrary">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

    <!-- 高德地图 key -->
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="719841fd12fa36fb0767ede379e5af7f" />

    <service android:name="com.amap.api.location.APSService" />

</manifest>
