<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skyline.terraexplorer"
    android:versionCode="1733"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.vilyever.socketclient" />

    <permission
        android:name="com.skyline.terraexplorer.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00010000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.skyline.terraexplorer.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- //读取设备硬件信息，统计数据 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- //允许sd卡写权限，需写入地图数据，禁用后无法显示地图 -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".TEApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_wanggehua"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:value="25.3.1"
        tools:replace="android:value">
        <provider
            android:name=".SearchSuggestionProvider"
            android:authorities="com.skyline.terraexplorer.SearchSuggestionProvider"
            android:exported="false" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3FWFYymKn1tQ4nxkA5wh89NGinGzmipb" />

        <!-- 高德地图 key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="719841fd12fa36fb0767ede379e5af7f" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <activity
            android:name=".controllers.TEMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".controllers.TutorialActivity"
            android:label="@string/mm_more_tutorial"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="登录"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".controllers.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.EditFavoriteActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.EditFavoriteSelectIconActivity"
            android:label="@string/title_activity_favorites_icons"
            android:parentActivityName=".controllers.EditFavoriteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.EditFavoriteActivity" />
        </activity>
        <activity
            android:name=".controllers.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.PlacesActivity"
            android:label="@string/title_activity_places"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.LayersActivity"
            android:label="@string/title_activity_layers"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.ResourceSelectActivity"
            android:label="@string/tool_res_title"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.PresentationStepsActivity"
            android:label="@string/title_activity_layers"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.AboutActivity"
            android:label="@string/mm_more_about"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.FeatureAttributesActivity"
            android:label="@string/title_activity_attributes"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.WhiteboardListActivity"
            android:label="@string/title_activity_whiteboards"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity
            android:name=".controllers.TerrainProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_terrain_profile"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity android:name="com.skyline.test.plan.PlanManagementActivity" />

        <service
            android:name="com.skyline.test.net.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.skyline.test.plan.OnlineFragment$MyBrocaseRecevicer"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.skyline.test.onlinefragment.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name="com.skyline.test.plan.WordActivity" />
        <activity android:name="com.skyline.test.query.ResourceListActivity" />
        <activity android:name="com.skyline.test.places1.PlacesActivity1" />
        <activity android:name="com.skyline.test.myview.EditPlaceActivity" />
        <activity android:name="com.skyline.test.query.ResourceQueryActivity" />
        <activity android:name="com.skyline.test.query.ResourceQueryActivity1" />
        <activity android:name="com.skyline.test.places1.Place2Activity" />
        <activity android:name="com.skyline.test.myview.ServerAddressActivity" />

        <service android:name="com.skyline.test.socket.NettyService" />

        <activity
            android:name="com.skyline.test.myview.SignUp_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.skyline.terraexplorer.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".controllers.GPSNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".controllers.EmulatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".controllers.TestActivity" />
        <activity
            android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controllers.base.HhBaseActivity" />
        <activity android:name=".controllers.base.BaseActivity" />
        <activity
            android:name=".controllers.SettingAppActivity"
            android:label="@string/app_setting"
            android:parentActivityName=".controllers.TEMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.TEMainActivity" />
        </activity>
        <activity android:name=".controllers.ResourceCheckActivity" />
        <activity android:name=".controllers.HiddenDangerActivity" />

        <receiver android:name=".receiver.NetworkConnectChangedReceiver" />

        <activity android:name=".controllers.base.HBaseActivity" />
        <activity android:name=".controllers.CheckPlanActivity" />

        <service
            android:name=".jpush.JPushSservice"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.skyline.terraexplorer.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK 核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </activity>
        <!-- SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </activity>

        <!-- 注意此配置在 JPush 3.2.0 及以前版本是必须配置，3.2.0 以后版本已废弃此配置 -->


        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->


        <!-- Required SDK 核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->


        <!-- Required SDK核心功能 since 3.3.0 -->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </service>

        <receiver
            android:name=".jpush.JPushRecycle"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyJPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.WakedReceiver" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.skyline.terraexplorer" />
            </intent-filter>
        </receiver>

        <activity android:name=".controllers.base.GPSnewActivity" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".controllers.DownMapActivity" />
        <activity android:name=".controllers.SurroundResourceActivity" />
        <activity android:name=".controllers.ResourceSearchActivity" />
        <activity
            android:name="com.zhihu.matisse.internal.ui.AlbumPreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".controllers.ResourceSelectNewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".controllers.ComprehensiveCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controllers.ComprehensiveCheckHomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controllers.ResourceAddActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controllers.BaiduiMapActivity" />
        <activity android:name=".controllers.ComprehensiveCheckListActivity" />
        <activity android:name=".controllers.ComprehensiveCheckEditActivity" />

        <service
            android:name=".service.TrackService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".controllers.ResourceEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controllers.MyPicDialogActivity"
            android:theme="@style/dialogstyle" />
        <activity android:name=".controllers.ResourceErrorActivity"></activity>
    </application>

</manifest>